
@use 'reset';


.main-bg h4{
    font-size:16px;
}

.main-bg button{
    color:red;
}

/*2개이상 중첩 비추*/
.main-bg{
    h4{
        font-size:16px;
    }
    button{
        color:red;
    }
}

/*%임시클래스 특 : 단독으로 컴파일 안됨*/
%btn{
    width: 100px;
    height: 100px;
    padding: 20px;
}
.btn-green{
    @extend%btn;
    color:green;
}
.btn-green{
    @extend%btn;
    color:red;
}
.btn-green{
    @extend%btn;
    color:blue;
}

$main-color: #2a4cb2;
$sub-color: #eeeeee;
$original-size:16px;

.background{
    background-color: $main-color;
    font-size:$original-size - 2px;
}

.box{   
    color: $main-color;
    font-size:$original-size + 2px;
}



@mixin fontstyle($구멍,$구멍2){
    font-size: $구멍;
    #{ $구멍2 }: -1px;
}

h2{
@include fontstyle(45px, letter-spacing);
color:reset.$main-color;
}

h3{
    @include fontstyle(39px,1px)
}

h4{
    @include fontstyle(24px, -2px)
}